In [1]:
import pandas as pd
import numpy as np
QUESTION_ID_FILE = "data/question_ids.txt"
DATASET_FILE = "data/datapoints.txt"

Notebook used to create dataset from initial xlsx file as well as explore the dataset through pandas. 
Dataset consists of 404301 question pairs with, each labelled as either 0 or 1 depending on if the two questions are considered
semantically equivalent, i.e. they ask the same thing.

In [2]:
data = pd.read_excel('data/question_pairs.xlsx') # read the data
data

,"id,""qid1"",""qid2"",""question1"",""question2"",""is_duplicate""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"0,""1"",""2"",""What is the step by step guide to i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,""3"",""4"",""What is the story of Kohinoor (Koh-...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"2,""5"",""6"",""How can I increase the speed of my ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"3,""7"",""8"",""Why am I mentally very lonely? How ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4,""9"",""10"",""Which one dissolve in water quikly...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
404296,"404285,""433578"",""379845"",""How many keywords ar...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404297,"404286,""18840"",""155606"",""Do you believe there ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404298,"404287,""537928"",""537929"",""What is one coin?"",""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404299,"404288,""537930"",""537931"",""What is the approx a...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404300,"404289,""537932"",""537933"",""What is like to have...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The unnamed columns are dropped and the string is split at the locations where it encounters a ',' followed by a '\'

In [3]:
processed_data = data.drop(columns=[x for x in data.columns if 'Unnamed' in x]) # drop the unnamed columns
processed_data = processed_data.values.tolist()
processed_data = [([ sentString.split(",\"") for sentString in sent ]) for sent in processed_data]

Let's see how many of the samples are positive vs negative, too see if the dataset is balanced or not

In [4]:
posCounter = 0
negCounter = 0
for line in processed_data:
    
    if line[0][-1] == "0\"":
        negCounter += 1
    else:
        posCounter += 1

print("Positive: ", posCounter)
print("Negative: ", negCounter)

Positive:  149819
Negative:  254482

Write the data to file as two separate comma separated files. One file is a long list of question id's and corresponding questions.
The other is the datapoints, each line consists of (qid1, qid2, label)

In [6]:
counter = 0
with open(QUESTION_ID_FILE, "w", encoding="utf-8") as f:
    with open(DATASET_FILE, "w") as f2:
        for datapoint in processed_data:
            if(len(datapoint[0]) == 6): # Else line was not split correctly 
                qid1 = datapoint[0][1][:-1] # Extract the datapoint id and remove the "," character
                f2.write(qid1)
                f2.write(",")
                question = datapoint[0][3][:-1] 
                f.write(qid1)
                f.write(",")
                f.write(question)
                f.write("\n")
                qid2 = datapoint[0][2][:-1] 
                f2.write(qid2)
                f2.write(",")
                question = datapoint[0][4][:-1] 
                f.write(qid2)
                f.write(",")
                f.write(question)
                f.write("\n")
                f2.write(datapoint[0][5][:-1])
                f2.write("\n")
        else:
                counter += 1
                

print(counter)

1