In [2]:
import pandas as pd

Notebook used to create dataset from initial xlsx file as well as explore the dataset through pandas. 
Dataset consists of 404301 question pairs with, each labelled as either 0 or 1 depending on if the two questions are considered
semantically equivalent, i.e. they ask the same thing.

In [5]:
data = pd.read_excel('data/question_pairs.xlsx') # read the data

In [8]:
data = data.drop(columns=[x for x in data.columns if 'Unnamed' in x]) # drop the unnamed columns
data

       id,"qid1","qid2","question1","question2","is_duplicate"
0       0,"1","2","What is the step by step guide to i...
1       1,"3","4","What is the story of Kohinoor (Koh-...
2       2,"5","6","How can I increase the speed of my ...
3       3,"7","8","Why am I mentally very lonely? How ...
4       4,"9","10","Which one dissolve in water quikly...
...                                                   ...
404296  404285,"433578","379845","How many keywords ar...
404297  404286,"18840","155606","Do you believe there ...
404298  404287,"537928","537929","What is one coin?","...
404299  404288,"537930","537931","What is the approx a...
404300  404289,"537932","537933","What is like to have...

[404301 rows x 1 columns]